#ignore all files
*
!*/

vendor/
t2-output/
target/
Acid/
tags

#except the following files
!.gitignore
!*.dud
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl
!*.mm

!*.build

!*.go

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment
!*.rs
!*.ps
!*.vs

!*.ini
!*.bat

!*.md
!*.png

#except the following folders
